{% extends './base.html' %}

{% block body_content %}
<div class="container my-5">
    <h2 class="text-center mb-4">Create a new task list</h2>

    <!-- Formulario para crear una nueva lista de tareas -->
    <form action="{{ url_for('todolist_add') }}" method="post">
        <!-- CSRF Token -->
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        
        <!-- Nombre del Creador -->
        <div class="mb-3">
            <label for="listNameCreator" class="form-label">Creator name</label>
            <input type="text" class="form-control" id="listNameCreator" name="list_create_name" placeholder="Enter the name of the creator" required>
        </div>

        <!-- Nombre de la lista -->
        <div class="mb-3">
            <label for="listName" class="form-label">List name</label>
            <input type="text" class="form-control" id="listName" name="list_name" placeholder="Enter the name of the list" required>
        </div>

        <!-- Descripción de la lista -->
        <div class="mb-3">
            <label for="listDescription" class="form-label">Description</label>
            <textarea class="form-control" id="listDescription" name="list_description" rows="2" placeholder="Enter a description (optional)"></textarea>
        </div>

        <!-- Botón para crear la lista -->
        <button type="submit" class="btn btn-primary w-100">Add List</button>
    </form>
</div>
{% endblock %}
